// web page customization
::-webkit-scrollbar {
    display: none !important;
}

html {
    body {
        margin: 0;
        overflow-x: hidden;
    }
}

main {
    display: grid;
    grid-template-rows: 100vh 100vh 50vh 100vh 50vh 100vh 50vh 10vh;
}

// temporal code
.landing {
    background-color: gray;
}
textarea{
    height: 30vh;
    width: 50vw;
    border: none;
    background: transparent;
    color: black;
    margin-top: 3vh;
}
.copy-code{
    justify-self: center;
    align-self: center;
}

// G fonts imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

// modifiers
:root {
    --br-images: 100%;
    --poppinsXlh300:'Poppins', sans-serif;
}

// styles imports
@import "components/tarjets/_first-tarjet.scss";
