// web page customization
::-webkit-scrollbar {
    display: none !important;
}

html {
    body {
        margin: 0;
        overflow-x: hidden;
    }
}

main {
    display: grid;
    grid-template-rows: repeat(3, 100vh);
}

// temporal code
.landing {
    background-color: gray;
}

.user-card-2 {
    background-color: rgb(253, 202, 139);
}

.user-card-3 {
    background-color: rgb(255, 180, 88);
}

// G fonts imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

// modifiers
:root {
    --br-images: 100%;
    --poppinsXlh300:'Poppins', sans-serif;
}

// styles imports
@import "components/tarjets/_first-tarjet.scss";
