textarea{
    height: 41vh;
    width: 50vw;
    background: #2e3440;
    border: none;
    color: rgb(255, 255, 255);
    margin-top: -2vh;
    margin-left: -1vh;
}
// copy-code button styles 
.copy-code{
    justify-self: center;
    align-self: center;
}
.code-title{
    justify-self: center
}