.landing {
    display: grid;
    height: 100vh;
    width: 100vw;
    h1{
        font-size: 7em;
        justify-self: center;
        align-self: center;
        color: white;
        font-family: var(--pacificoxregular);
        grid-area: 1/1;
        position: relative;
    }
    .tl-line{
        height: 0.7vh;
        width: 0vw;
        background-color: white;
        grid-area: 1/1;
        justify-self: center;
        align-self: center;
        margin-top: 13vh;
        animation: hr-sz linear 2s forwards;
        border: none;
        border-radius: 10px;
    }
}
@keyframes hr-sz {
    0%{
        width: 0vw;
        background-color: grey;
    }
    100%{
        width: 49vw;
        background-color: white;
    }    
}