header{
    background-color: #353535ea;
    position: absolute;
    height: 6vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    z-index: 1;
    .hd-text{
        align-self: center;
        justify-self: center;
        grid-area: 1/3/1/1;
        margin-right: 5vw;
    }
}