.show-button{
    width: 5vw;
    height: 10vh;
    border-radius: 100%;
    border: none;
    background-color: white;
    justify-self: center;
    margin-top: 10vh;
    cursor: pointer;
    animation: pulseEF linear 1.5s infinite reverse;
    font-size: 1.5vh;
}
.copy-code{
    justify-self: center;
    align-self: center;
    margin-top: -3vh;
}
.code-title{
    justify-self: center;
}
@keyframes pulseEF {
    to{
        box-shadow:0px 0px 0px 15px rgb(226, 225, 225);  
    }
}