.tarjet-container{
    background-color:rgba(165, 165, 165, 0.781);
    width: 85vw;
    height: 65vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    top: 85vh;
    border-radius: 10px;
    transition: 0.5s linear;
    .br-img{
        width: 19vw;
        height: 34vh;
        border-radius: var(--br-images);
        justify-self: center;
        align-self: center;
        transition: 0.5s linear;
    }
    .Content-container{
        display: grid;
        .clasic-tj-tl{
            align-items: center;
            justify-items: center;
            display: grid;
        }
        .user-name{
            font-size: 5.5vh;
            align-self: end;
            grid-area: 1/1;
            margin-bottom: 1vh;
        }
        .Tarjet-breakline{
            align-self: end;
            height: 0.3vh;
            background-color: white;
            border: none;
            grid-area: 1/1;
            margin-left: 0vw;
            width: 0vw;
            margin-bottom: 1vh;
            transition: 1s;
        }
        .Tarjet-description{
            font-size: 2vw;
            text-align: justify;
            width: 40vw;
            justify-self: start;
            grid-area: 2;
        }
    }
}
.tarjet-container:hover{
    border-radius: 30px;
    background-color: rgb(190, 190, 190);
}
.tarjet-container:hover .Tarjet-breakline{
    width: 100%;
}
.tarjet-container:hover .br-img{
    border-radius: 50px;
}